{% extends 'base.html' %}
{% block content %}

<h1 class="neon">Record Detail</h1>

<a href="/records">
    <div class="card detail">
        <div class="card-content">
            <img class="detailCover" src="{{ record.image }}" alt="">
            <h3 class="detailTitle">{{ record.title }}</h3>
            <p class="detailBand">{{ record.band.name }}</p>
            <h4 class="detailTrackHeader">Track List:</h4>
            {% for song in songs %}
            <p>{{ song.trackNumber }} - {{ song.title }} - {{ song.length }}</p>
            {% endfor %}
            
            
            <p >Released: {{ record.releaseDate }}</p>
        </div>
    </div>
</a>    
   

{% endblock %}