{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <title>Record Collector</title>
</head>
<body>
  <header class="navbar-fixed">
    <nav class="clear">
      <div class="nav-wrapper">
        <ul>
          <li class="title"><a href="/" class="left brand-logo neon">Record Collector</a></li>
        </ul>
        <ul class="right neon">
          <li><a href="/records">View the Records</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer clear">
    <div class="right">All Rights Reserved, &copy; 2021 Record Collector &nbsp;</div>
  </footer>
</body>
</html>